@font-face {
  font-family: 'iconfont';  /* project id 2228798 */
  src: url('//at.alicdn.com/t/font_2228798_se82f9ufraa.eot');
  src: url('//at.alicdn.com/t/font_2228798_se82f9ufraa.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2228798_se82f9ufraa.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2228798_se82f9ufraa.woff') format('woff'),
  url('//at.alicdn.com/t/font_2228798_se82f9ufraa.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2228798_se82f9ufraa.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 32rpx;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: "iconfont" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bitian:before {
  content: "\e635";
}

.icon-selectdefault2:before {
  content: "\e632";
}

.icon-xuanze:before {
  content: "\e627";
}

.icon-jia:before {
  content: "\e60f";
}

.icon-jianshao:before {
  content: "\e6dd";
}

.icon-yinhao:before {
  content: "\e60b";
}

.icon-quote-right:before {
  content: "\e605";
}
